/* .main-body { */
/*     margin: 0; */
/*     overflow: hidden; */
/*     height: 100vh; */
/* } */

/* .main-content { */
/*     height: auto; */
/*     overflow-y: auto; */
/* } */

.disable-links a {
    color: #333;
    pointer-events: none;
    cursor: default;
}

.table td:nth-child(1) {
    width: 25%;
}
