<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
  <body>
    <div id="wrap" class="contentpage">
      {% include header.html %}
      <div class="main-body container">
        <div class="row">
	  <div class="col-md-9" style="padding-right: 7px;">
	    <div class="menu-links">
	      <ul class="list-inline">{% capture hide %}
		{% assign pages = site.pages | sort:"menu" %}
		{% for p in pages %}
		  {% if p.menu %}
		    {% capture li %}{{li}}
 		      <li><a href="{{site.baseurl}}{{p.url}}">{% if p.menutitle %}{{p.menutitle}}{% else %}{{p.title}}{% endif %}</a></li>{% endcapture %}
		  {% endif %}
		{% endfor %}
		{% endcapture %}{{li}}
	      </ul>
	    </div>
	    <div class="main-content">{{content}}</div>
	  </div>
          <div class="sidebar-content col-md-3">{% capture sb %}{% include sidebar.md %}{% endcapture %}            
	    {{sb | markdownify}}
	  </div>
        </div>
      </div>
    </div><!-- #wrap -->
    {% include footer.html %}
  </body>
</html>
